@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.container-expanded-item div {
  text-align: left;
}

.container-expanded-item .align-center-in-item {
  display: flex;
  align-items: center;
}

.loading-kawaii svg{
  display: block;
  min-width: 100vh;
  animation-name: spin;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
